.banner{
    position: absolute;
    top: 100px;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(../recursos/banner/banner-image.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .banner__contenido{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto; margin-right: auto;
    margin-top: auto; margin-bottom: auto;
    background-color: #50514f2f;
    padding: 3rem;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.banner__contenido .titulo{
    font-size: 4rem;
    color: var(--blanco);
    margin: 0;
    padding-bottom: 1.5rem;
}

.banner__contenido .subtitulo{
    font-size: 2rem;
    color: var(--blanco);
    padding-bottom: 1.5rem;
}

.banner__contenido .banner__accion{
    padding: 1rem 0;
}

.banner__contenido .banner__accion .btn{
    padding: 1rem;
    color: var(--blanco);
    background-color: var(--azul);
}




@media screen and (max-width:768px) {
    .banner{
        background-size: cover;
        background-position: center;
        height: 45vh;
    }

    .banner .banner__contenido{
    width: 90%;
        backdrop-filter: blur(2px);
    }

    .banner__contenido .titulo{
    font-size: 3rem;
    padding-bottom: 1rem;
}

.banner__contenido .subtitulo{
    font-size: 1.8rem;
    padding-bottom: .5rem;
}
}

@media screen and (max-width:400px) {
    .banner{
        background-size: cover;
        background-position: center;
        height: 30vh;
    }

    .banner .banner__contenido{
    padding: 1rem;
        backdrop-filter: blur(2px);
}

    .banner__contenido .titulo{
    font-size: 1.8rem;
    padding-bottom: 1rem;
    width: 100%;
}

.banner__contenido .subtitulo{
    font-size: 1.25rem;
    padding-bottom: .5rem;
    width: 90%;
}

.banner__contenido .banner__accion .btn{
    padding: .5rem;
    border-radius: 5px;
}
}