.banner{
    position: absolute;
    top: 100px;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(../recursos/banner/banner-image.png) no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width:768px) {
    .banner{
        background-size: cover;
        background-position: center;
        height: 45vh;
    }
}

@media screen and (max-width:400px) {
    .banner{
        background-size: cover;
        background-position: center;
        height: 30vh;
    }
}