.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.footer .info p{
    margin-bottom: .5rem;
}


.footer .acordeon{
    margin-left: 0; margin-right: auto;
    display: flex;
    width: 45%;
    justify-content: space-between;
    float: left;
}

.footer .newsletter form{
    display: flex;
    flex-direction: column;
}

.footer .newsletter form input[type="text"]{
    padding: 1rem;
    border-radius: 5px;
    color: var(--gris);
    margin: .5rem 0;
    border-radius: 5px;
background: #e0e0e0;

}

.footer .newsletter form input[type="email"]{
    padding: 1rem;
    border-radius: 5px;
    color: var(--gris);
    margin: .5rem 0;
    border-radius: 5px;
background: #e0e0e0;

}

.footer .newsletter form textarea{
    padding: 1rem;
    border-radius: 5px;
    color: var(--gris);
    margin: .5rem 0;

    border-radius: 5px;
background: #e0e0e0;

}

.footer .newsletter form input[type="submit"]{
    padding: 1rem;
    border-radius: 5px;
    color: var(--blanco);
    width: 40%;
    text-align: center;
    cursor: pointer;
    margin: .5rem 0;
    border-radius: 5px;
background: var(--azul);


}

footer{
    display: block;
    background-color: var(--gris__opaco);
    
}

footer h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

footer p{
    text-align: center;
}


@media screen and (max-width:768px) {
    .footer .info {
        display: flex;
        flex-direction: column;
    }

    .footer .acordeon{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
    margin-top: 0;
}
    
}

@media screen and (max-width:500px) {


    .footer .links{
        width: 100%;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer .logo{
        padding-bottom: 1rem;
    }

    .footer .links{
        padding-bottom: 1rem;
        margin-left: 2rem; margin-right: auto;
    }

    .footer .links h2{
        font-weight: bold;
        padding-bottom: .5rem;
    }

    .footer .newsletter form input[type="submit"]{
    width: 100%;
}

    
}
