
nav .barra__navegacion .espacioinput{
    display: flex;
    margin: auto;
}

main .container{
    padding: 0;
}

.container .login__panel{
    width: 100%;
    background: url(../recursos/banner/login__banner.svg) no-repeat;
    background-size: auto;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container .login__panel .background{
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    width: 45%;
    border-radius: 15px;
    background-color: var(--gris__opaco);
    border-radius: 25px;
    box-shadow:  5px 5px 30px #bebebe;
    color: var(--gris);
    backdrop-filter: blur(10px);
}

.container .login__panel .login__panel__header{
    text-align: center;
    padding-bottom: 1rem;
}

.container .login__panel .login__panel__formulario{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container .login__panel .login__panel__formulario form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
}

.container .login__panel .login__panel__formulario form input[type="email"],
.container .login__panel .login__panel__formulario form input[type="password"]{ 
    background-color: var(--gris__opaco);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 25px;
    border-radius: 50px;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

/*Botones temporales para redirection del formulario*/

.container .login__panel .login__panel__formulario form .submit{
    background-color: var(--gris__opaco);
    color: var(--blanco);
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    border-radius: 25px;
    backdrop-filter: blur(20px);
    cursor: pointer;
    transition: .5s;
}

/*Botones temporales para redirection del formulario*/

.container .login__panel .login__panel__formulario form .submit:hover{
    background-color: var(--gris);
    transition: all .5s ease-out ;
}

@media screen and (max-width:1000px) {
    .container .login__panel .background{
    width: 55%;
}
}

@media screen and (max-width:700px) {
    .container .login__panel .background{
    width: 75%;
}
}

@media screen and (max-width:450px) {
    .container .login__panel .background{
    width: 85%;
}
}

@media screen and (max-width:360px) {
    .container .login__panel .background{
    width: 100%;
    border-radius: 0;
}
}

@media screen and (max-width:450px) {
    nav .barra__navegacion .espacioinput{
        display: none;
    }
}
